<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/forms.css">

<!-- last -->
<link rel="stylesheet" href="/css/pages/admin.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <style>
        .card__container {
            display: grid;
                grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
            /* grid-template-columns: auto;
            grid-template-rows: auto; */
            column-gap: .5rem;
            row-gap: .5rem;
            flex-direction: row;
        }

        .card {
            background: white;
            border: none;
            border-radius: 0;
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.26);
            /* margin-bottom: .5rem; */
            height: 10rem;
            width: 10rem;
        }

        .card:hover {
            background: rgb(229, 249, 255);
        }
        
        .card__link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            padding: 1rem;
            color: black;
            height: 100%;
            width: 100%;
        }

        .card__title {
            font-weight: lighter;
            font-size: 1rem;
            margin: 0;
        }
    </style>

        <main class="content">
            <h1 class="content__heading">Übersicht Clients</h1>

            <!-- Action bar -->
            <div class="content__actions">
                <div class="content__actions__search">
                    <form class="form">
                        <div class="form-control">
                            <label for="search">Suchen</label>
                            <input type="text" name="search" id="search">
                        </div>
                    </form>
                </div>
                <div class="content__actions__new">
                    <button type="button" class="button button--primary">Neuen Client anlegen</button>
                </div>
            </div>

            <!-- Client table -->
            <p>TODO Client table</p>
            <div class="card__container">
                <% for (let client of clients) { %>
                    <article class="card">
                        <a class="card__link" href="/admin/<%= client.id %>">
                            <header class="card__header">
                                <h1 class="card__title">
                                    <%= client.name %>
                                </h1>
                            </header>
                        </a>
                        </article>
                <% } %>
        </div>

        </main>
<%- include('../includes/end.ejs') %>